*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-gallery{

    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .gallery-img{
        display:none;
        max-height:600px;
    }
    .active{
        display:block;
    }
}
.btns{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    .btn{
      font-size: 24px;
      background-color: black;
      color:white;
      padding:5px 20px;
      border-radius:10px;
      border-color: transparent;
      cursor:pointer;
    }
    .prev{
        margin-right:30px;

        &:hover{
            background-color: #f0f;
            color:#0f0;
        }
        &:disabled{
            background-color: #666;
            color:black;
        }
    }
    .next{
        &:hover{
            background-color: #f0f;
            color:#0f0;
        }
    }
  
}