/* default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.wrapper{
    width:90%;
    margin:0 auto;
    
}
body{
    /* background-image: url(../img/Mark\ Thomson\ \(@_mark_thomson\)\ •\ Instagram\ photos\ and\ videos.jpg); */
}
/* header */
header nav{
    display:flex;
    flex-flow:row nowrap;
    border-bottom: 3px solid black;
    text-transform: uppercase;
 
}
header nav a{
    background-color:black;
    color: white;
    flex-basis:25.92%;
    letter-spacing:7px;
    font-size:3rem;
    text-decoration: none;
    margin:7vh 5.55555% 3vh;
    padding:1rem 1.5rem;
    border-radius:3px;
    text-align:center;
}
#fhead{
    border:0px solid red;
    margin-left:0;
}
#lhead{
    border:0px solid red;
    margin-right:0;
}


header nav a:hover{
    background-color: #aaa;
    color:black;
    opacity:1;
    transition:300ms;
}

/* key vision , would add some js effect later*/

section .key_vision{
  
    text-decoration:none;
    border:0px solid red;
    display:flex;
    flex-flow:row nowrap;
    margin-top:5vh ;
    margin-bottom:10vh ;
}

.key_vision img{
    width:28.3333%;
    height:60vh;
    border:0px solid blue;
    border-radius:5px;
    margin:0 5%;
}
#img1{
    box-shadow: -5px 5px 5px;
}
#img2{
    box-shadow: 5px 5px 5px;
}
.slogan{
    width:23.333%;
    border:0px solid green;
    text-align:center;
   
}
.slogan h1{
    font-size: 6rem;
    padding-top:5rem;
    border:0px solid blue;
}
.key_vision p{
    font-size:3rem;
    padding:0rem 1rem;
    margin:3rem 0;
    border:0px solid red;
}
.LF{
    font-size:4.5rem;
}

/* page layout*/

.intropage{
    width:90%;
    border:3px solid red;
    margin:0 auto;
}


.page_1{
    display:flex;
    flex-flow:row nowrap;
}
.page_2{
    display:flex;
    flex-flow:row nowrap;
}
.page_3{
    display:flex;
    flex-flow:row nowrap;
}
.Intro{
    padding:1rem 4rem;
    border:3px solid blue;
}
.cate{
    padding-top:3rem;
    border:0px solid blue;
}
.Background{
    padding:3rem 4rem 4rem 1rem;
    border:0px solid blue;
}
.Hobbies{
    padding:1rem 4rem;
}

/* font settings */
.intropage h2{
    font-size:6rem;
    text-align: center;
    border:3px solid lightseagreen;
}

.Intro h3{
    text-align:right;
    background-color:purple;
    font-size:3rem;
    margin-top:2rem;
    margin-bottom:1.5rem;
}
.Intro p{
    font-size:2rem;
    background-color:yellow;
    text-align:justify;
    padding:0.5rem 0.5rem 0;
}
.cate p{
    font-weight: 900;
    font-size: 1.5rem;
    display:block;
    text-align:center;
    margin-top:2rem;
    text-decoration-line:underline;
   
}
.Background p{
    font-size: 1.5rem;
    margin-top:2rem;
}
.Hobbies p{
    font-size: 2rem;
    margin-top:2rem;
}

#lb{
    margin-top:9.5rem;
    border:0px solid red;
}
#lb2{
    margin-top:5.5rem;
}


#portfolio{
    height:100vh;
    display:grid;
    grid-template-columns: 30% 30% 30%; 
    text-align:center;
}
article{
    border:3px solid red;
    background-image: url(../img/port1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#portfolio p{
    display:block;
    font-size: 3rem;
}