@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,700&display=swap');

$WebTitle_128: 128px;
$WebNav_72: 72px;
$WebHeading_84: 84px;
$WebContent_48: 48px;
$WebText_36: 36px;
$WebMin_24: 24px;

$Border: 3px solid red;

$Headerheight: 15vh;

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color:#c4c4c4;
}

header{
    width:100vw;
    height:$Headerheight;
    background-color: #000;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
        .mainav{
            flex-basis:70%;
            // background-color: red;
            // border:3px solid blue;
            
            ul{
                width:70%;
                // border:3px solid green;
                display:grid;
                grid-template-columns: repeat(2, 360px);
                list-style-type: none;
                li{
                    border:$Border;
                }
                li > a{
                    display:block;
                    text-decoration:none;
                    color:white;
                    font-size: $WebNav_72;
                    &:hover{
                        background-color: white;
                        color:black;
                    }
                }
            }
        }
        .SMLink{
            flex-basis:30%;
            display:flex;
            flex-flow:row nowrap;
            justify-content: space-around;
            // background-color: green;
        }
}