$headercolor: hsla(212, 53%, 62%, 38%);
$demopag1height: 80vh;
// import styles bundle

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    //make a back to top button
    margin: 0;
    padding: 0;
    #backToTopAnchor {
        position: fixed;
        height: 100px;
        width: 100px;
        background-color: rgb(20, 163, 140);
        border-radius: 50px;
        right: 40px;
        bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            font-size: 3rem;
            color: white;
            &:link {
                text-decoration: none;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    header {
        height: 100vh;
        background-image: url("../images/首頁背景.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        >nav {
            flex-basis: 75%;
            height: 10vh;
            ul {
                list-style-type: none;
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                margin: 0;
                li {
                    margin-right: 4rem;
                    padding: 5px;
                    &:last-child {
                        margin-right: 10rem;
                    }
                    a {
                        font-size: 2.5rem;
                        display: block;
                        font-family: 'Sedgwick Ave Display', cursive;
                        color: black;
                        /* create animations for links */
                        animation: fadeInAnimation ease 3s;
                        animation-iteration-count: 1;
                        position: relative;

                        &:link {
                            text-decoration: none;
                        }

                        &:visited {
                            text-decoration: none;
                        }

                        &:hover {
                            text-decoration: underline;
                        }

                        &:active {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

    }

    .demo.first {
        h2 {
            text-align: center;
            font-weight: 900;
            font-size: 4rem;
            height: 100vh - $demopag1height;
            margin: 0;
            padding: 0;
            line-height: 100vh - $demopag1height;
            border: 0px solid green;
        }
        .swiper {
            border: 0px solid red;
            height: 800px;
            .swiper-slide {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 1440px;
                    max-height: 840px;
                }
            }
        }
    }
    .demo.second{
        height:100vh;
        border: 3px solid black;
    }
}


.disabled {
    display: none;
}