$headercolor: hsla(212, 53%, 62%, 38%);
// import styles bundle
$timelineDS: 2rem;

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    //make a back to top button
    margin: 0;
    padding: 0;
    font-family: 'Sedgwick Ave Display', cursive;

    #backToTopAnchor {
        position: fixed;
        height: 100px;
        width: 100px;
        background-color: rgb(20, 163, 140);
        border-radius: 50px;
        right: 40px;
        bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 3rem;
            color: white;

            &:link {
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    header {
        height: 100vh;
        background-image: url("../images/首頁背景.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        >nav {
            height: 10vh;

            ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;
                margin: 0;
                list-style-type: none;

                li {
                    margin-right: 4rem;
                    padding: 5px;

                    &:last-child {
                        margin-right: 10rem;
                    }

                    a {
                        font-size: 2.5rem;
                        display: block;
                        font-family: 'Sedgwick Ave Display', cursive;
                        color: black;
                        /* create animations for links */
                        animation: fadeInAnimation ease 3s;
                        animation-iteration-count: 1;

                        &:link {
                            text-decoration: none;
                        }

                        &:visited {
                            text-decoration: none;
                        }

                        &:hover {
                            text-decoration: underline;
                        }

                        &:active {
                            text-decoration: none;
                        }
                    }

                    .unclickable {
                        color: #999999;
                        pointer-events: none;
                        cursor: default;
                    }

                }
            }
        }
    }

    .intro {
        height: 110vh;
        font-family: sans-serif;

        /* &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(237, 237, 234);
           // background-image: url("../images/水族箱-removebg.png");
            background-position: center;
            background-size: 2100px 1500px;
            background-repeat: no-repeat;
            filter: blur(5px);
           
          }
           */
        .wrapper {
            height: 110%;
            width: 100%;
            background: linear-gradient(180deg, #04fafd, 5%, #119dff, 50%, #030423);
            position: absolute;
        }



        .wrapper div {
            height: 60px;
            width: 60px;
            border: 2px solid rgba(255, 255, 255, 0.7);
            border-radius: 50px;
            position: absolute;
            top: 10%;
            left: 10%;
            animation: 4s linear infinite;
        }

        div .dot {
            height: 10px;
            width: 10px;
            border-radius: 50px;
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 20%;
            right: 20%;
        }

        .wrapper div:nth-child(1) {
            top: 20%;
            left: 20%;
            animation: animate 8s linear infinite;
        }

        .wrapper div:nth-child(2) {
            top: 60%;
            left: 80%;
            animation: animate 10s linear infinite;
        }

        .wrapper div:nth-child(3) {
            top: 40%;
            left: 40%;
            animation: animate 3s linear infinite;
        }

        .wrapper div:nth-child(4) {
            top: 66%;
            left: 30%;
            animation: animate 7s linear infinite;
        }

        .wrapper div:nth-child(5) {
            top: 90%;
            left: 10%;
            animation: animate 9s linear infinite;
        }

        .wrapper div:nth-child(6) {
            top: 30%;
            left: 60%;
            animation: animate 5s linear infinite;
        }

        .wrapper div:nth-child(7) {
            top: 70%;
            left: 20%;
            animation: animate 8s linear infinite;
        }

        .wrapper div:nth-child(8) {
            top: 75%;
            left: 60%;
            animation: animate 10s linear infinite;
        }

        .wrapper div:nth-child(9) {
            top: 50%;
            left: 50%;
            animation: animate 6s linear infinite;
        }

        .wrapper div:nth-child(10) {
            top: 45%;
            left: 20%;
            animation: animate 10s linear infinite;
        }

        .wrapper div:nth-child(11) {
            top: 10%;
            left: 90%;
            animation: animate 9s linear infinite;
        }

        .wrapper div:nth-child(12) {
            top: 20%;
            left: 70%;
            animation: animate 7s linear infinite;
        }

        .wrapper div:nth-child(13) {
            top: 20%;
            left: 20%;
            animation: animate 8s linear infinite;
        }

        .wrapper div:nth-child(14) {
            top: 60%;
            left: 5%;
            animation: animate 6s linear infinite;
        }

        .wrapper div:nth-child(15) {
            top: 90%;
            left: 80%;
            animation: animate 9s linear infinite;
        }

        @keyframes animate {
            0% {
                transform: scale(0) translateY(0) rotate(70deg);
            }

            100% {
                transform: scale(1.3) translateY(-100px) rotate(360deg);
            }
        }

        // snippet from codepen https://codepen.io/diyorbek0309/pen/mdwbEve
        h2 {
            top: 100%;
            left: 100%;

            position: absolute;
            font-family: sans-serif;
            letter-spacing: 1px;
            word-spacing: 2px;
            color: #fff;
            font-size: 40px;
            font-weight: 888;

        }

        .intro-wrapper {

            /*   background-color:#00b4ff; */
            display: flex;
            flex-flow: row nowrap;

            .introCard {
                font-family: 'Sedgwick Ave Display', cursive;

                flex-basis: 50%;
                padding: 120px 4.5rem;
                font-size: 3.5rem;
                perspective: 1000px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;

                .cardFlip {
                    width: 600px;
                    height: 600px;
                    transition: transform 1s;
                    transform-style: preserve-3d;
                    cursor: pointer;
                    position: relative;
                    background-image: url("../images/大頭貼.png");
                    background-size: cover;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

                    .cardFace {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        overflow: hidden;
                    }

                    .frontCard {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;

                        h3 {
                            font-size: 4.5rem;
                            color: #fff;
                            font-style: italic;
                            letter-spacing: -8px;
                            word-spacing: -8px;
                        }

                        span {
                            word-spacing: normal;
                            letter-spacing: normal;
                            display: inline-block;
                            opacity: 0;
                        }
                    }

                    .backCard {
                        transform: rotateY(180deg);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        /* fallback for old browsers */
                        background: linear-gradient(to top, #209cff 0%, #68e0cf 100%);

                        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        .brief {
                            p:first-child {
                                text-align: center;
                                font-size: 4.5rem;
                                padding: 3rem;
                                margin: 0;
                                color: #000;
                                letter-spacing: 0px;
                            }

                            p:last-child {
                                margin: 0;
                                padding: 2rem;
                                word-spacing: 8px;
                            }
                        }
                    }
                }

                //handle state after flipping the card
                .isFlipped {
                    transform: rotateY(180deg);

                    .backCard .brief p {
                        opacity: 0;
                    }
                }

                .cardFlip.backHovered {
                    .backCard .brief p:first-child {
                        animation: fadeInCard ease 3s;
                        animation-delay: 1000;
                        animation-fill-mode: forwards;
                    }

                    .backCard .brief p:last-child {
                        animation: fadeInCard ease 5s;
                        animation-delay: 6000;
                        animation-fill-mode: forwards;
                    }
                }

                .cardFlip.backNotHovered {
                    .backCard .brief p:first-child {
                        animation: fadeOutCard ease 1s;
                        animation-fill-mode: forwards;
                    }

                    .backCard .brief p:last-child {
                        animation: fadeOutCard ease 1s;
                        animation-fill-mode: forwards;
                    }
                }

                //handle state when frontcard got hovered
                .cardFlip.frontHovered {
                    .frontCard {
                        animation-name: bgBlur;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                    }

                    .frontCard>h3>span {
                        animation-name: cross-fade-blur;
                        animation-duration: 4s;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;

                        @for $i from 1 through 14 {
                            &:nth-child(#{$i}) {
                                animation-delay: $i * 0.04s;
                            }
                        }
                    }
                }

                .cardFlip.frontNotHovered {
                    .frontCard {
                        animation-name: bgBlur-back;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                    }

                    .frontCard>h2>span {
                        animation-name: cross-fade-blur-back;
                        animation-duration: 4s;
                        animation-iteration-count: 1;

                        @for $i from 1 through 14 {
                            &:nth-child(#{$i}) {
                                animation-delay: $i * 0.04s;
                            }
                        }
                    }
                }
            }

            //handle next part
            .introCarousel {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                flex-basis: 50%;
                margin-right: 3rem;



                .swiper {
                    width: 900px;
                    height: 600px;

                    /* 
                    border: 4px solid green;
 */
                    .swiper-wrapper .swiper-slide {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .slide-container {
                            height: 60%;
                            max-width: 600px;
                            padding: 100px 100px;
                            text-align: left;
                            border-radius: 80%;
                            transition: filter 0.3s ease-in-out;
                            background-size: cover;
                            position: relative;
                            box-shadow: 3px 3px 10px 3px #888;
                            border: 0px solid red;

                            h3 {
                                text-align: center;
                                font-size: 3.5rem;
                                font-weight: 800;
                                position: relative;
                            }

                            p {
                                font-size: 2rem;
                                line-height: 3rem;
                                position: relative;
                                font-weight: 600;
                            }
                        }

                        .slide-01 {
                            background-image: url("../images/ocean-01.jpg");
                        }

                        .slide-02 {
                            background-image: url("../images/ocean-02.jpg");
                            color: #fff;
                        }

                        .slide-03 {
                            background-image: url("../images/ocean-03.jpg");
                        }

                    }
                }
            }
        }
    }


    section .container {
        background: #007991;
        background: -webkit-linear-gradient(to right, #78ffd6, #007991);
        background: linear-gradient(to right, #78ffd6, #007991);
        padding: 2rem;
        padding-bottom: 0px;
        margin: 0 auto;
        max-width: 800px;
        min-height: 60vh;

        .top-section {
            text-align: center;
            padding: 4rem 0;
            max-width: 600px;
            margin: 0 auto;

            h3 {
                font-size: 3.5rem;
                letter-spacing: 0.8rem;
            }

            p {
                font-size: 2rem;
            }
        }

        .timeline {
            position: relative;
            min-height: 150px;

            .line {
                position: absolute;
                z-index: 2;
                left: calc(50% - 1px);
                width: 2px;
                top: -70px;
                bottom: -50px;
                background-color: #000;
            }

            .line:before,
            .line:after {
                position: absolute;
                display: block;
                content: '';
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                background-color: #000;
                left: 50%;
                transform: translateX(-50%);
            }

            .line:after {
                bottom: 0;
            }

            .section {
                display: flex;
                opacity: 0;
                transform: translateX(-100%);
                transition: 600ms ease;
                position: relative;
                z-index: 1;
                margin: 0px 0;
                padding: 1rem;
                border-radius: 1rem;
                align-items: center;
                min-height: 300px;

                .bead {
                    position: absolute;
                    display: block;
                    height: 1rem;
                    width: 1rem;
                    border-radius: 50%;
                    background-color: #000;
                    left: 50%;
                    top: 20%;
                    transform: translateX(-50%);
                }

                .content {
                    width: calc(50% - 2rem);
                }

                &:nth-child(odd) {
                    flex-direction: row-reverse;
                    transform: translateX(100%);
                }
            }

            .section.show-me:nth-child(n) {
                opacity: 1;
                transform: none;
            }
        }
    }

    footer {
        text-align: center;
        color: white;
        background-color: #000;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            li img {
                height: 60px;
                width: 60px;
                margin-right: 20px;
            }
        }
    }

    /* 
@keyframes chaBg {
    from {
        background-image: url("../images/大頭貼.png");
    }

    to {
        background-image: none;

    }
} */
    /* custome fade-in  animation for nav links*/
    @keyframes fadeInAnimation {
        from {
            opacity: 0;
            top: 10px;
        }

        to {
            opacity: 1;
            top: 0px;
        }
    }

    //custom fade-in ani for backcard
    @keyframes fadeInCard {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOutCard {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    //handle photo blur in intro Card
    @keyframes bgBlur {
        from {
            backdrop-filter: blur(0rem);
            -webkit-backdrop-filter: blur(0rem);

        }

        to {
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem);
        }

    }

    @keyframes bgBlur-back {
        from {
            backdrop-filter: blur(1rem);
            -webkit-backdrop-filter: blur(1rem);
        }

        to {
            backdrop-filter: blur(0rem);
            -webkit-backdrop-filter: blur(0rem);
        }
    }

    //handle text display animation in intro Card
    @keyframes cross-fade-blur {
        0% {
            opacity: 0;
            filter: blur(1rem);
            transform: translate3d(0, 3rem, 0) rotate3d(0.25, -1, 0, 66.6deg);
        }

        20%,
        100% {
            opacity: 1;
            filter: blur(0px);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes cross-fade-blur-back {
        0% {
            opacity: 1;
            filter: blur(0px);
            transform: translate3d(0, 0, 0);
        }

        20%,
        100% {
            opacity: 0;
            filter: blur(1rem);
            transform: translate3d(0, -3rem, 0) rotate3d(-0.25, 1, 0, 66.6deg);
        }

    }

    .disabled {
        display: none;
    }

}