$borderT: 3px solid red;

$Fz_Title: 7rem;
$Fz_heading: 3.5rem;
$Fz_topic: 2.5rem;
$Fz_text: 1rem;
$Fz_min: 0.8rem;
$Fz_button: 1.2rem;

$spacingN: 3px;
$spacingL: 9px;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}
// default settings

@mixin Button {
    height:50px;
    width:170px;
}

@mixin Navbutton {
}

@mixin Feature{
    
}

//button_type
body{
    height:250vh;
}


header {
    width: 100%;
    height: 100vh;
    border: none;
    text-align: center;
    background-image: url(../img/header.jpg);
    background-size: cover;
    color: white;
    h1 {
        font-size: $Fz_heading;
        font-weight: 900;
        padding: 25vh 0 0;
        letter-spacing: $spacingL;
    }
    p {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0 0 0.5vh;
        letter-spacing: $spacingN;
    }
    i {
        font-size: $Fz_Title;
        font-family: serif;
      
    }
    #navbutton {
        width: 350px;
        height: 50px;
        margin: 5vh auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        .button {
                border:1px solid white;
            a {
              
                display:block;
                line-height:50px;
                text-decoration:none;
                font-size: $Fz_button;
                backdrop-filter: brightness(0.2);
                &:visited{
                    color:white;
                }
                &:hover{
                    background-color:yellow;
                    color:black;
                    transition:0.3s;
                }
            }
        }
    }
}
// handle header



//handle navigation

.about{
    height:100vh;
    width:100vw;
    background-image: url(../img/about.jpg);
    background-size: cover;
    text-align:center;
    color:white;
    h2{
        font-size: $Fz_topic;
        padding:20vh 0 4vh;
    }
    p{
        font-size: $Fz_text;
        line-height:2rem;
    }
    .features{
        margin-top:5vh;
        display:flex;
        flex-flow:row nowrap;
        justify-content: center;
        .feature{
            border:$borderT;
            height:300px; 
            width:400px;
        }
    }
}
