@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

.align_handler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#main_vision {
  width: 100%;
  height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-color: white;
  color: white;
}

#main_vision div {
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
}

#main_vision div h1 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 3px;
  padding: 10px;
}

#main_vision div h1 strong {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 9px;
}

@media screen and (max-width: 767px) {
  #main_vision div h1 strong {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  #main_vision div h1 {
    font-size: 14px;
  }
}

#main_vision div i {
  font-size: 7rem;
}

@media screen and (max-width: 767px) {
  #main_vision div i {
    font-size: 48px;
  }
}

#main_vision div #navbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  grid-gap: 15px;
}

#main_vision div #navbuttons div {
  width: 170px;
  border: 1px solid white;
}

#main_vision div #navbuttons div a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
}

#main_vision div #navbuttons div a:hover {
  border: none;
  background-color: yellow;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 767px) {
  #main_vision div #navbuttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border: 3px solid red;
}

.about {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/about.jpg);
  background-size: cover;
  text-align: center;
  color: white;
}

.about h2 {
  font-size: 2.5rem;
  padding: 20vh 0 4vh;
}

.about p {
  font-size: 1rem;
  line-height: 2rem;
}

.about .features {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .features .feature {
  height: 300px;
  width: 400px;
}
/*# sourceMappingURL=fruit.css.map */