
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/background.png");
    background-color: #c0c86d;
    cursor: url("../img/cursor.png"), default; 
    background-repeat: no-repeat;

    padding: 0;
    margin: 0;
    height:100vh;
}
#wormbar{
    text-align:center;
    visibility:hidden;
}

#Moleground{

    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    // flex-basis:20%;
    grid-column-gap:100px;
    grid-row-gap:5px;
  
    .hole{
        // width:25%;
        background-color: #000;
        border-radius:50%;
        // height:267px;
        // width:267px;
        // border:3px solid red;
        overflow:visible;
        // display:block;
        // text-align:center;
        img{
            display:inline;
            // border:3px solid green;
           
        }
    }
}

.space{
    visibility: hidden;
}
